*{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    max-width: 200px;
    width: 100%;
}
h2{
    text-align: center;
}
button{
    background-color: rgb(125, 173, 244);
    width: 100%;
    margin-top: 20px;
}