.contain{
    display: flex;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.purple{
    background-color: purple;
}
#red{
    background-color: red;
    padding: 50px;
    margin: 0 10px;
}
#green{
    background-color: green;
    padding: 50px;
    margin: 0 10px;
}
#purple{
    background-color: purple;
    padding: 50px;
    margin: 0 10px;
}